<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
   
    String sql="SELECT empno,ename,job,hiredate,sal,dname,loc
     FROM emp,dept 
     WHERE emp.deptno=dept.deptno
     ORDER BY empno ASC"
     
     ps=conn.preparedStatement(sql)
     ResultSet rs=ps.executeQuery()
     while(rs.next())
     {
        EmpVO vo=new EmpVO();
        vo.setEmpno()
        vo.setEmane()
        vo.setJob()
        vo.setHioredate()
        vo.setSal()
        vo.seyDname() : 오류발생
        vo.getDvo().setDname()
        vo.getDvo().setLoc()
        
     }
        => 초창기 JDBC 형태임
  
  dvo -> 안에 값을 불러오는게 resultMap()
  -> 얘네는 조인이 걸려있어서 겟으로 불러와야함
  =>  vo.getDvo().setDname()
       vo.getDvo().setLoc()
  -> 테이블이 두개 이상 걸려있을 때 => JOIN / SubQuery()를 사용한다
 -->
<mapper namespace="com.sist.dao.emp-mapper">
 <resultMap type="com.sist.dao.EmpVO" id="empMap">
   <result property="dvo.dname" column="dname"/>
   <result property="dvo.loc" column="loc"/>
 </resultMap>
 <select id="empListData" resultMap="empMap">
  SELECT empno,ename,job,TO_CHAR(hiredate,'YYYY-MM-DD') as dbday,
         sal,dname,loc
  FROM emp,dept
  WHERE emp.deptno=dept.deptno
  ORDER BY empno ASC       
 </select>
</mapper>